<!DOCTYPE html>
<html ng-app="mainApp">
<head lang="en" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="commond/css/index.css"/>
    <script src="commond/js/angular.min.js"></script>
    <script src="commond/js/angular-route.min.js"></script>
    <script src="commond/js/main.js"></script>
    <script src="ccg_Home/home.js"></script>
    <script src="zhaoyong_About/about.js"></script>
    <script src="yangmei_Clients/clients.js"></script>
    <script src="xudechuan_Projects/projects.js"></script>
    <script src="yuwenya_Services/service.js"></script>
    <script src="yangqin_Contacts/contacts.js"></script>
</head>
<body>
<div class="head">
    <img class="headlogo" src="./commond/images/logo.png" alt=""/>
    <div class="headsearch"><input type="text" placeholder="Type here..."/>
        <div></div>
    </div>
    <div class="nav" ng-controller="navController">
        <ul>
            <li class="nav_home" ng-style="{backgroundColor:homecolor}" ng-click="clickhome()"><img src="commond/images/home-page-img.png" alt=""/></li>
            <li ng-style="{backgroundColor:aboutcolor}" ng-click="clickabout()">About</li>
            <li ng-style="{backgroundColor:servicescolor}" ng-click="clickservices()">Services</li>
            <li ng-style="{backgroundColor:projectscolor}" ng-click="clickprojects()">Projects</li>
            <li ng-style="{backgroundColor:clientscolor}" ng-click="clickclients()">Clients</li>
            <li ng-style="{backgroundColor:concactscolor}" ng-click="clickconcacts()">Concacts</li>
        </ul>
        <div class="follow">Follow us: <img src="./commond/images/icon-1.png" alt=""/><img
                src="./commond/images/icon-2.png" alt=""/><img src="./commond/images/icon-3.png" alt=""/></div>
    </div>
</div>
<br/>

<div id="main" ng-view>

</div>
<br/>

<div class="footer">
    <p>Professional free web templates at www.websitetemplatesonline.com. | Flashtemplates.com. Flash Design - the Smart Choice.
        <br/>
        © 2012 Global <br/>
        <span style="color: #44a7bb">Website Template</span> by TemplateMonster.com</p>
</div>
</body>
</html>